.footer {
  height: 30vh;
  background-color: var(--grey);
  align-items: center;
  justify-content: end;
}

.footer-wrapper {
  align-items: end;
  padding: 1rem 0;
}

.footer-wrapper a {
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--white);
}

.footer p {
  font-style: italic;
  padding: 0;
  color: var(--white);
}

.arrow-icon {
  height: 100%;
  justify-self: start;
  padding-top: 1rem;
}

@media (min-width: 768px) {
  .footer-wrapper span,
  .footer p {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}
