.projects {
  height: fit-content;
  padding: 4rem 2rem 4rem 1.5rem;
  align-items: end;
  background-color: var(--green);
}

.projects-title {
  color: var(--white);
  padding-bottom: 2rem;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  place-content: center;
}

.project-wrapper {
  width: 200px;
  height: 200px;
  background-color: var(--beige);
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color ease-in-out 0.5s;
}

.project-wrapper:hover {
  background-color: var(--greyL);
}

.project-link {
  height: 100%;
  text-align: center;
  padding: 1rem;
  color: var(--gold);
  font-size: 1.2rem;
  transition: color ease-in-out 0.5s;
}

.project-link:hover {
  color: var(--beige);
}

.more_btn_wrapper {
  padding: 1rem 0 0 1rem;
}

.more_btn_wrapper div h3 {
  color: var(--white);
}

.more_btn_wrapper div button {
  color: var(--white);
  background-color: var(--green);
  border: 1px solid var(--white);
}

@media (min-width: 400px) {
}
